<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />
      <!--  HTML page name and path   :: Fragment Name. we did not mention template in the path because -->
          <!--  all locations are relative to the path src/main/resources/template -->

<body>

    <div th:replace="common/navbar :: common-navbar"></div>

  <div class="container">

      <div class="row">

          <div class="col-md-12">

              <div class="jumbotron">

                  <div class="text-center">

                      <h1 th:text="#{payload.h1.text}"/>
                      <p class="lead" th:text="#{payload.p.lead}"/>

                  </div>

              </div>

          </div>


      </div>
  </div>


    <!-- BootStrap core JavaScript-->

<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>
