<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />
      <!--  HTML page name and path   :: Fragment Name. we did not mention template in the path because -->
          <!--  all locations are relative to the path src/main/resources/template -->

<body>

    <div th:replace="common/navbar :: common-navbar"></div>

    <div class="container">

    <div class="starter-template">
        <h1 th:text="#{index.main.callout}"> </h1>
        <p class="lead">By looking more deeply into your business, SRV Consulting LLP helps bring bold strategies to life in unexpected ways.
            Through disruption and innovation, our clients are able to transform from market followers to market leaders.</p>

    </div>

</div><!-- /.container -->

<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>
