<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />
      <!--  HTML page name and path   :: Fragment Name. we did not mention template in the path because -->
          <!--  all locations are relative to the path src/main/resources/template -->

<body>

    <div th:replace="common/navbar :: common-navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="text-center" th:text="#{copy.h1.text}"></h1>
                    <p class="lead" th:text="#{copy.p.lead}"></p>
                </div>
            </div>
        </div>
    </div><!-- /.container -->

        <!--Marketing -->
    <div class="container marketing">
        <!--three columns of text-->
        <div class="row">
            <div class="col-lg-4 span4">
                <a href="https://git-scm.com/book/en/v2">
                    <img class="img-circle"
                            src="https://previews.123rf.com/images/djvstock/djvstock1609/djvstock160900145/62104329-computer-gears-man-boy-glasses-developer-web-responsive-development-website-programming-icon-set-Col-Stock-Vector.jpg"
                            alt="Git Book" width="140" height="140"/>
                </a>
                <h2>Raj <small class="member title"> Developer</small> </h2>
                <div class="span4 collapse-group">
                    <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                    <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
                </div>
            </div>



            <div class="col-lg-4 span4">
                <a href="https://git-scm.com/book/en/v2">
                    <img class="img-circle"
                         src="https://d30y9cdsu7xlg0.cloudfront.net/png/637219-200.png"
                         alt="Git Book" width="140" height="140"/>
                </a>
                <h2>Shai <small class="member title"> Business Analyst</small> </h2>
                <div class="span4 collapse-group">
                    <p class="collapse text-justify" th:text="#{copy.project.business.intro}"></p>
                    <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
                </div>
            </div>



                <div class="col-lg-4 span4">
                    <a href="https://git-scm.com/book/en/v2">
                        <img class="img-circle"
                             src="https://qph.ec.quoracdn.net/main-qimg-29622e54d30a2cf3f599ae479d81a92b"
                             alt="Git Book" width="140" height="140"/>
                    </a>
                    <h2>Vin <small class="member title"> Pega System Architect</small> </h2>
                    <div class="span4 collapse-group">
                        <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                        <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
                    </div>
                </div>
        </div>
    </div>




    <!--Featurettes-->
    <hr class="featurette-divider" />
    <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/agile.png}"/>
        <h2 class="featurette-heading"> Agile <span class="muted"></span> </h2>
        <p class="developer">The process involves breaking down each project into prioritized requirements, and delivering each individually within an iterative cycle.</p>
    </div>

    <hr class="featurette-divider" />
    <div class="featurette">
        <img class="featurette-image pull-left" th:src="@{/images/operations.png}"/>
        <h2 class="featurette-heading">Operations<span class="muted"></span> </h2>
        <p class="developer">concerned with designing and controlling the process of production and redesigning business operations in the production of goods or services.</p>
    </div>

    <hr class="featurette-divider" />
    <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/smart.png}"/>
        <h2 class="featurette-heading">SMART <span class="muted"></span> </h2>
        <p class="developer">We use SMART tool to provide clarity, be more focus and motivation to achieve our goals</p>
    </div>

    <hr class="featurette-divider"/>

    <!-- /END THE FEATURETTES-->

    <!-- FOOTER-->
    <footer>
        <p>&copy; 2017 rajdeveloper.com &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms</a> </p>
    </footer>

<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>
